<div class="about-me-container text-white bg-black">
  <h2 class="text-center">About Me</h2>
  <p>
    Hello, I am <strong>Shubham Prakash Bonde</strong>, a passionate Java Backend Developer with a strong foundation in Java, Spring, and Spring Boot. I am currently residing at Flat No. 26, A-Wing, Mayuresh Heights, Narhe Road, Narhe, Pune-411041. You can reach me via email at <a href="mailto:shubhambonde2412@gmail.com">shubhambonde2412@gmail.com</a> or call me at <a href="tel:+919527237004">+919527237004</a>.
  </p>

  <h3 class="ml-5 text-warning">Education</h3>
  <ul>
    <li><strong>MCA</strong> - Savitribai Phule Pune University, Pune (2022) - 75.63%</li>
    <li><strong>B.Sc. (Computer)</strong> - North Maharashtra University, Jalgaon (2019) - 67.72%</li>
    <li><strong>HSC</strong> - Maharashtra State Board (2016) - 71.08%</li>
    <li><strong>SSC</strong> - Maharashtra State Board (2014) - 78.40%</li>
  </ul>

  <h3  class="ml-5 text-warning">Skills</h3>
  <ul>
    <li><strong>Web Technologies:</strong> Angular8, HTML, CSS</li>
    <li><strong>Back-End Technologies:</strong> Java, Advanced Java, Spring, Hibernate, Spring Boot, JavaScript</li>
    <li><strong>Database Technologies:</strong> MySQL, SQL Server</li>
    <li><strong>Tools:</strong> GitHub, Jira, Postman, Maven</li>
    <li><strong>Servers:</strong> Apache Tomcat, Jetty</li>
  </ul>

  <!-- <h3>Project</h3>
  <p>
    <strong>Telecom Project:</strong> In this project, I worked on providing a B2C service that enables farmers to sell their products directly to customers. My responsibilities included developing and consuming RESTful web services using Java Spring Boot, collaborating with the team on requirement analysis, designing and implementing the user interface, and conducting testing and bug resolution.
  </p>

  <h3>Personal Skills</h3>
  <ul>
    <li>Problem Solving</li>
    <li>Decision-Making</li>
    <li>Ability to work independently and manage multiple tasks concurrently</li>
    <li>Quick learner of new technologies</li>
    <li>Excellent team player with a positive attitude</li>
    <li>Strong interpersonal, communication, and debugging skills</li>
    <li>Self-Motivation</li>
  </ul> -->

  <h3 class="ml-5 text-warning">Training</h3>
  <ul>
    <li>Completed Java Development Course from Velocity, covering Core Java, Advanced Java, Hibernate, Spring, Spring Boot, MySQL, etc.</li>
    <li>Pursuing Microservices & Docker course from Udemy.</li>
  </ul>

  <h3 class="ml-5 text-warning">Achievements</h3>
  <ul>
    <li>Certificate of completion of Java training offered by Spoken Tutorial Project, IIT Bombay.</li>
    <li>Certificate of completion of Advanced CPP Training offered by Spoken Tutorial Project, IIT Bombay.</li>
  </ul>

  <h3 class="ml-5 text-warning">Personal Profile</h3>
  <ul >
    <li><strong>Full Name:</strong> Mr. Shubham Prakash Bonde</li>
    <li><strong>Father’s Name:</strong> Mr. P.N.Bonde</li>
    <li><strong>Marital Status:</strong> Single</li>
    <li><strong>Date of Birth:</strong> Dec-1997</li>
    <li><strong>Age:</strong> 26</li>
    <li><strong>Languages Known:</strong> English, Hindi, Marathi</li>
  </ul>

  <p>
    I hereby declare that the above-mentioned information is correct to the best of my knowledge, and I bear responsibility for its accuracy.
  </p>
</div>