<section id="contact" class="container-fluid bg-black text-white py-5">
  <div class="container rounded-lg p-4">
    <h2 class="text-center mb-5">Contact Us</h2>
    <div class="row align-items-center">
      <!-- Profile Image -->
      <div class="col-lg-5 text-center mb-4 mb-lg-0">
        <img src="../assets/Shubham.jpg" alt="Shubham Bonde" 
             class="profile-img img-fluid shadow-lg">
      </div>
      
      
      <!-- Contact Details -->
      <div class="col-lg-7">
        <table class="table table-borderless ">
          <tbody >
            <tr >
              <td><i class="fas fa-phone"></i> Mobile:</td>
              <td><a href="tel:+919527237004" class="btn btn-sm">9527237004</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-whatsapp"></i> Chat:</td>
              <td><a href="https://wa.me/+919527237004" class="btn btn-sm">WhatsApp</a></td>
            </tr>
            <tr>
              <td><i class="fas fa-envelope"></i> Email:</td>
              <td><a href="mailto:shubhambonde2412@gmail.com" >shubhambonde2412@gmail.com</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-linkedin"></i> LinkedIn:</td>
              <td><a href="https://www.linkedin.com/in/shubhamsb51" target="_blank" >Click to View</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-github"></i> GitHub:</td>
              <td><a href="https://github.com/shubhambonde123" target="_blank">View GitHub Profile</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Ask Question Section -->
  <div class="text-center py-4 bg-black">
    <p>Ask a Question:</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSccbNYGfYMPLxE4xKXTGkKzdRsDTie8ihyAhq-erAeyPBxOqQ/viewform?usp=header" target="_blank">
      <button class="btn btn-warning btn-lg">Click Here</button>
    </a>
  </div>
</section>
