<section id="home" class="home-section">
  <div class="container text-center">
    <!-- Hero Section -->
    <div class="hero">
      <img src="../assets/Shubham.jpg" alt="Shubham Bonde" class="profile-img">
      <h1 class="name">Shubham Bonde</h1>
      <p class="designation">Full Stack Developer | Java | Spring Boot | Angular | Hibernate | Mysql | Git | BitBucket | Jira.</p>
      <div class="social-icons">
        <a href="mailto:shubhambonde2412@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/shubhamsb51" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/shubhambonde123" target="_blank"><i class="fab fa-github"></i></a>
        <a href="tel:+919527237004"><i class="fas fa-phone"></i></a>
        <a href="https://wa.me/+919527237004"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <!-- About Me -->
    <section id="about" class="about-section">
      <a routerLink="/about" routerLinkActive="active" class="nav-link"><h2>About Me</h2></a>
    </section>

  </div>
</section>
